<!-- with product -->
<div class="row">
<div class="col-8">
<!-- table -->
<table class="table table-borderless m-3"> 
       <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Item</th>
        <th scope="col">Image</th>
        <th scope="col">Quantity</th>
        <th scope="col">price</th>
        <th scope="col">Action</th>
      </tr>
    </thead> 
    <tbody> 
      <tr class="p-3">
        <th scope="row">1</th>
        <td>T-Shirt</td>
        <td><img src="https://th.bing.com/th/id/R.5f4adc35144d22d10ad3aa2af7ee2533?rik=OasmTONOyJ%2fwGw&riu=http%3a%2f%2fdpegb9ebondhq.cloudfront.net%2fproduct_photos%2f589276%2f3600_00_hr_original.jpg&ehk=UjuQ73EinV%2fda8Uuq%2fWdRim7FAr%2fVt4aI3pVSh8Hv0k%3d&risl=1&pid=ImgRaw&r=0" width="150px" alt=""></td>
        <td>200</td>
        <td>$350.50</td>
        <td><i class="fa-solid fa-trash text-danger"></i></td>
      </tr>
    
      
    </tbody>
  </table>
</div>
<div class="col-4">
    <!-- bill -->
    <div class="card text-center p-3 m-4 shadow">
        <h3>Cart Summary</h3>
        <h1>Total : $57</h1>
        <button class="btn btn-primary">check out</button>
    </div>
</div>
</div>

<!-- without product -->
<div class="text-center">
<img src="https://cdn.dribbble.com/users/2046015/screenshots/4591856/first_white_girl_drbl.gif" alt="">
<h2 class="m-1">Your Cart was empty</h2>
<button class="btn btn-warning m-2" routerLink="/">Add more</button>
</div>