<section class="vh-100 " >
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col col-xl-10">
          <div class="card" style="border-radius: 1rem;">
            <div class="row g-0">
              <div class="col-md-6 col-lg-5 d-none d-md-block">
                <img src="https://i.pinimg.com/originals/84/ec/8e/84ec8eaef3f8a2f47329dd0684374ac3.jpg"
                  alt="login form" class="img-fluid" style="border-radius: 1rem 0 0 1rem;" />
              </div>
              <div class="col-md-6 col-lg-7 d-flex align-items-center">
                <div class="card-body p-4 p-lg-5 text-black">
  
                  <form [formGroup]="registerForm">
  
                    <div class="d-flex align-items-center mb-3 pb-1">
                      <i class="fas fa-cubes fa-2x me-3" style="color: #ff6219;"></i>
                      <span class="h1 fw-bold mb-0">ECART</span>
                    </div>
  
                    <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Sign up your account</h5>

                    <div class="form-outline mb-2">
                        <input formControlName="username" type="username" id="form2Example17" placeholder="username" class="form-control form-control-lg" />
                        <div *ngIf="this.registerForm.get('username')?.errors && this.registerForm.get('username')?.touched" class="text-danger fw-bolder">*Invalid username</div>
                        <label class="form-label" for="form2Example17"></label>
                      </div>

                    <div class="form-outline mb-2">
                      <input formControlName="email" type="email" id="form2Example18" placeholder="Email" class="form-control form-control-lg" />
                      <div *ngIf="this.registerForm.get('email')?.errors && this.registerForm.get('email')?.touched" class="text-danger fw-bolder">*Invalid email</div>
                      <label class="form-label" for="form2Example18"></label>
                      
                    </div>
  
                    <div class="form-outline mb-2">
                      <input formControlName="password" type="password" id="form2Example19" placeholder="password" class="form-control form-control-lg" />
                      <div *ngIf="this.registerForm.get('password')?.errors && this.registerForm.get('password')?.touched" class="text-danger fw-bolder">*Invalid password</div>
                      <label class="form-label" for="form2Example19"></label>
                    </div>
  
                    <div class="pt-1 mb-3">
                      <button class="btn btn-dark btn-lg btn-block" (click)="register()" type="button">Register</button>
                    </div>
  
                    <a class="small text-muted" href="#!"></a>
                    <p class="mb-5 pb-lg-2" style="color: #393f81;">Already have an account? <a routerLink="/user/login"
                        style="color: #393f81; text-decoration: none;">Login </a></p>
                    <a href="#!" class="small text-muted">Terms of use.</a>
                    <a href="#!" class="small text-muted">Privacy policy</a>
                  </form>
  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>