<!-- with product -->
<div>
    <section class="py-5">
        <div class="container px-4 px-lg-5 mt-5">
            <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                <div *ngFor="let product of wishlistproducts" class="col mb-5">
                    <div class="card h-100">
                        <!-- Product image-->
                        <img class="card-img-top" [src]=product.image alt="..." />
                        <!-- Product details-->
                        <div class="card-body p-4">
                            <div class="text-center">
                                <!-- Product name-->
                                <h5 class="fw-bolder">{{product.title}}</h5>
                                <!-- Product price-->
                                $ {{product.price}}
                            </div>
                        </div>
                        <!-- Product actions-->
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <div class="text-center">
                                <button class="btn"> <i class="fa-solid fa-trash text-danger fs-3"></i> </button>
                                <button class="btn"> <i class="fa-solid fa-cart-plus text-success fs-3"></i> </button>
                            </div>
                        </div>
                    </div>
                </div>
               
            </div>
        </div>
    </section>
</div>

<!-- without product -->
<div class="text-center " *ngIf="wishlistproducts.length==0">
<img class="" width="50%" src="https://www.gospeedy.co.in/images/empty.gif" alt="">
<div>
    <button class="btn btn-success m-3">browse more</button>
    
</div></div>